<h1><?= $this->Text->toList(h($tags), 'or') ?></h1>
<section>
    <?php foreach ($articles as $article) :?>
        <article>
            <h4>
                <?= $this->Html->link($article->title, ['controller' => 'Articles', 'action' => 'view', $article->slug]) ?>
                <span><?= h($article->created) ?>
            </h4>
        </article>
    <?php endforeach; ?>
</section>